@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    //Get object from session
    var UserName = HttpContextAccessor.HttpContext.Session.GetString("user");
}
<div class="card container">
    <div class="card-header bg-warning bg-opacity-75 text-light ml-0  row ">
        <div class="col-12 col-md-6">
            <h3 class="text-black-50">Delete from Azure Storage</h3>
        </div>
    </div>
</div>
<br />

<form asp-action="Delete">

    <input type="hidden" id="UserName" name="UserName" value="@UserName">

    <input type="hidden" id="Operation" name="Operation" value="Delete">

    <label for="environment" class="required">Target Environment:</label>
    <select name="environment" id="environment">
        <option value="Test">Test</option>
        <option value="Dev">Dev</option>
    </select>
    <br>
    <br />

    <label for="storage" class="required">Storage Account Name:</label>
    <input type="text" id="storage" name="storage" required>
    <br><br>

    <label for="Container" class="required">Container Name:</label>
    <input type="text" id="Container" name="Container" required>
    <br><br>

    

    <label for="AzFolderName" class="required">Azure folder Name:</label>
    <input type="text" id="AzFolderName" name="AzFolderName" required>
    <br><br>

    <label for="FileName">Azure File Name:</label>
    <input type="text" id="FileName" name="FileName">
    <br><br>

    <input type="submit" value="Submit">

</form>

<style>
    label {
        display: inline-block;
        float: left;
        clear: left;
        width: 180px;
        text-align: left;
    }

    input {
        display: inline-block;
        float: left;
    }

    .required::after {
        content: "*";
        color: red;
        margin-left: 3px
    }

</style>



