
<form method="post">
        @*<div class="card  container">*@
        <div class="card-header bg-warning text-light ml-0  row "style=" width: 42rem;">
                <div class="col-12 col-md-12">
                    <h3 class="text-black-50">Please select the operation</h3>
                </div>
            </div>
        @*</div>*@
        <br />
        <br />

        @*<div class="card body">*@
            <div class="row">
                <div class="col-12 col-md-6">
                    <a asp-action="Upload" class="btn btn-primary form-control"><i class="fas fa-plus"></i>Upload</a>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-12 col-md-6">
                    <a asp-action="Move" class="btn btn-primary form-control"><i class="fas fa-plus"></i>Copy between azure storage</a>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-12 col-md-6">
                    <a asp-action="Delete" class="btn btn-primary form-control"><i class="fas fa-plus"></i>Delete</a>
                </div>
            </div>
            <br />
        @*</div>*@
        
</form>
