@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <script type="text/javascript">
        window.onload = function () {
            alert("UserName or Password is Wrong");
            window.location.href = "Login";
        };
    </script>
    

</body>
</html>